.footer {
	background-color: $color-gray-dark-3;
	font-size: 1.4rem;
	/*position: relative;*/
	padding: 10rem 0;

	&__logo-box {
		/*width: 15rem;*/
		/*margin: 0 auto;*/
		text-align: center;
		padding-bottom: 8rem;
	}

	&__logo {
		width: 15rem;
		/*width: 100%;*/
		/*height: 85px;*/

		/*width: 15rem;
		height: auto;*/
	}

	&__list {
		width: 80%;
		list-style: none;
		border-top: 1px solid $color-gray-dark-1;
		/*padding: 1.5rem 0;*/
		padding-top: 2rem;
/*		display: inline-block;
		width: 100%;
		text-align: center;*/
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			padding-right: 1.5rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			color: $color-gray-light-2;
			text-transform: uppercase;
			text-decoration: none;
			display: inline-block;
			transition: all .2s;
			/*cursor: pointer;*/
		}

		&:hover {
			color: $color-primary;
			background-color: $color-gray-dark-3;
			box-shadow: 0 1rem 2rem $shadow-medium-1;
			transform: scale(1.3) rotate(5deg);
		}
	}

	&__copyright {
		width: 80%;
		float: right;
		color: $color-gray-light-2;
		border-top: 1px solid $color-gray-dark-1;
		/*padding: 1.5rem 0;*/
		padding-top: 2rem;
	}
}