.u-center-text {
	text-align: center;
}

// 复用二级标题，使其适用于不同下外边距的情况
// 如果改成9rem、10rem，类名不需要跟着改
/*.u-margin-bottom-80 {*/
.u-margin-bottom-big {
	margin-bottom: 8rem;
}

// middle medium
.u-margin-bottom-medium {
	margin-bottom: 4rem;
}

.u-margin-bottom-small {
	margin-bottom: 1.5rem;
}