.feature-box{
	display: inline-block;
	width: 100%;
	padding: 2.5rem;
	background-color: rgba($color-white, .8);
	text-align: center;
	box-shadow: 0 1.5rem 4rem $shadow-light-2;
	transition: all .3s;
	border-radius: .3rem;

	&__icon {
		display: inline-block;
		margin-bottom: .5rem;
		font-size: 6rem;
		background-image: linear-gradient(
			to right,
			$color-primary-light,
			$color-primary-dark);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	&:hover {
		transform: translateY(-1.5rem) scale(1.03);
	}
}















