.card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	// 子元素设为absolute后，脱离文档流，父元素高度为0，全部挤到左边了，所以所有子元素都堆叠在一起
	height: 50rem;

	&__side {
		transition: all .8s ease;
		font-size: 2rem;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		border-radius: .3rem;
		// 图片溢出父元素了
		overflow: hidden;
		box-shadow: 0 1.5rem 4rem $shadow-light1;

		// styling
		&--front {
			background-color: $color-white;
		}

		&--back {
			transform: rotateY(180deg);
			position: relative;

			&-1 {
				background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
			}

			&-2 {
				background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
			}

			&-3 {
				background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
			}
		}
	}

	// functionality

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0);
	}

	&__picture {
		background-size: cover;
		height: 23rem;
		background-blend-mode: screen;
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		// 清除溢出？
		border-top-left-radius: .3rem;
		border-top-right-radius: .3rem;

		&--1 {
			background-image: linear-gradient(
				to right bottom,
				$color-secondary-light,
				$color-secondary-dark),
			url("../img/nat-5.jpg");
		}

		&--2 {
			background-image: linear-gradient(
				to right bottom,
				$color-primary-light,
				$color-primary-dark),
			url("../img/nat-6.jpg");
		}

		&--3 {
			background-image: linear-gradient(
				to right bottom,
				$color-tertiary-light,
				$color-tertiary-dark),
			url("../img/nat-7.jpg");
		}
	}

	&__heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		color: $color-white;
		position: absolute;
		top: 13rem;
		right: 2rem;
		text-align: right;

		&-span {
			width: 70%;
			padding: 1rem 1.5rem;
			box-decoration-break: clone;
			-webkit-box-decoration-break: clone;

			&--1 {
				background-image: linear-gradient(
					to right bottom,
					rgba($color-secondary-light, .85),
					rgba($color-secondary-dark, .85));
			}

			&--2 {
				background-image: linear-gradient(
					to right bottom,
					rgba($color-primary-light, .85),
					rgba($color-primary-dark, .85));
			}

			&--3 {
				background-image: linear-gradient(
					to right bottom,
					rgba($color-tertiary-light, .85),
					rgba($color-tertiary-dark, .85));
			}
		}
	}

	&__details {
		list-style: none;
		width: 100%;
		padding: 3rem;

		li {
			text-align: center;
			font-size: 1.5rem;
			padding: 1rem;
			&:not(:last-child) {
				border-bottom: 1px solid $color-gray-light2;
			}
		}
	}

	&__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		text-align: center;
	}

	&__price-box {
		color: $color-white;
		margin-bottom: 8rem;
	}

	&__price-only {
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	&__price-value {
		font-size: 6rem;
		// 很大的文字细体会更好
		font-weight: 100;
	}
}

